/*


*/


body{
    background-color: rgb(231, 138, 16);
    color: white;
    font-family: "Roboto", sans-serif;
}



h2 {
    color: rgb(43, 0, 255);
    font-size: 33px;
}
p {
    
    font-size: 26px;
}